.match_card{
    height: auto;
}
.date{
font-size: 12px;
}
.stats_img{
    width: 60px;
    border-radius: 50%;
    background-color: azure;

}
.nomatch_header{
    border-radius: 12px;
    color: #096009;
    background: #ffffff3b;
    box-shadow: 4px 3px 8px #00000059;
}